.navbar{
    display:flex;
}
.navbar{
    display: flex;
    background:#131921;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}